# Main binary
seqhasher
coverage.out

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Output of the go command
**/vendor/
**/vendor/*

# IDE/Editor directories and files
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Misc files
*.swp
*~
.DS_Store
